body {
    margin: 0;
    padding: 0;
}
header {
    margin: 1em 0 3em 0;
}
.container {
    width: 953px;
    margin: auto;
    position: relative;
}
.calendar {
    height: 1170px; /* 65 лет * (12px + 6px) */
    background: url("./square.svg");
}
.calendar__fill {
    height: 0;
    background: url(./filled.svg);
    transition-property: height;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}
.calendar__fill-weeks {
    height: 12px;
    width: 0;
    background: url(./filled.svg);
    transition-property: width;
    transition-delay: 400ms;
}
.years {
    margin: 0;
    padding: 0;
    counter-reset: li;
    position: absolute;
    left: -23px;
}
.years li {
    margin: 72px 0 0;
    list-style: none;
}
.years li:before {
    counter-increment: li 5;
    content: counter(li);
}