body {
    margin: 0;
    padding: 0;
}
.container {
    width: 980px;
    margin: auto;
}
.calendar {
    height: 650px;
    background: url("./square.svg");
}
.calendar__fill {
    background: url(./filled.svg);
}
.calendar__fill-weeks {
    height: 7px;
    width: 0;
    background: url(./filled.svg);
}